@model LikeListViewModel

<h2>新增喜好商品</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>產品名稱</label>
        <input asp-for="ProductName" class="form-control" />
    </div>
    <div class="form-group">
        <label>價格</label>
        <input asp-for="ProductPrice" class="form-control" />
    </div>
    <div class="form-group">
        <label>手續費率</label>
        <input asp-for="FeeRate" class="form-control" />
    </div>
    <div class="form-group">
        <label>數量</label>
        <input asp-for="OrderQuantity" class="form-control" />
    </div>
    <div class="form-group">
        <label>扣款帳號</label>
        <input asp-for="Account" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">新增</button>
    <a asp-action="Index" class="btn btn-secondary">取消</a>
</form>
